.button{
    background-image: linear-gradient(45deg,hsl(120, 53%, 73%),hsl(120, 77%, 65%));
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    border: 1px solid greenyellow;
    font-size: 20px;

   
}
.topbar-background{
    background-image: url("../photos/cat-1285634_1920.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: top; */
    background-position: center;
    
    /* position: absolute; */
    /* content: ""; */
    background-color: rgba(35,39,35,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    /* background-repeat: no-repeat; */
    
}
.success-color{
    background-image: linear-gradient(45deg,hsl(120, 53%, 73%),hsl(120, 77%, 65%));
}
.link a{
 text-decoration: none;
 color: white;
}
